<div class="main">
  <label for="addItemInput">Make your day smarter!</label>
  <input
    #newItem
    id="addItemInput"
    class="lg-text-input"
    placeholder="Add a task"
    (keyup.enter)="addItem(newItem.value); newItem.value=''" />

  <button class="btn-primary" (click)="addItem(newItem.value); newItem.value=''">Add</button>

  <div class="btn-wrapper">
    <button
      class="btn btn-menu"
      [class.active]="filter === 'all'"
      (click)="filter = 'all'" >All</button>
    <button
      class="btn btn-menu"
      [class.active]="filter === 'todo'"
      (click)="filter = 'todo'" >To-Do</button>
    <button
      class="btn btn-menu"
      [class.active]="filter === 'done'"
      (click)="filter = 'done'" >Done</button>
  </div>

  <ul>
    <li *ngFor="let item of Items">
      <app-item (removeItem)="removeItem(item)" [item]="item"></app-item>
    </li>
  </ul>
</div>